{% extends 'alstom/index.html.twig' %}
            {% block body %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1>Add client</h1>
                    </div>
                    <div class="jumbotron content-form-client">
                        {{ include ('alstom/clients/_form-client.html.twig', {form: form, button:'Create'}) }}
                    </div>

                    </div>
                </main>
            {% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}