$main-color: rgb(4, 70, 148);

.content-formlogin-background{
  background-image: linear-gradient(135deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.04) 50%),url('./public/build/img/Alstom-home.jpg');
  //filter: contrast(1.5);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-login{
    height: 70vh;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 575px) {
      margin: 5vh;
    }
    .formulaire-login{
      width: 100%;
      label{
        font-size: 1.3em;
        color: $main-color;
        margin-top: 5vh;
      }
    }

  }
}