<div class="content-form-typeEquipment col-md-12 row" id="create_type">
    <div class="col-md-12">
        <h4>Enter name type of equipment :
        </h4>
        {{ form_start(form_type) }}
        {{ form_row(form_type.name) }}
        <a class="btn-valid-typeEquipment" href="{{path('alstom.addType')}}" id="valid-typeEquipment-name">Add</a>
        <input type="submit">
        <button class="btn-cancel" id="cancel-type" type="button">Cancel</button>

        {{ form_end(form_type) }}
    </div>
</div>

{% block javascripts %}
    <script>


        $('#btn-create-type').click(function () {
            $('#create_type').show();
            $("#content-form-equipment").hide();
        });
        $('#cancel-type').click(function () {
            $('#create_type').hide();
            $("#content-form-equipment").show();
        })
    </script>
{% endblock %}
