{{ form_start(form_ertms, {'action': path('alstom.addErtms'), 'method': 'POST'}) }}

<div class="content-form-ertms-name form_ertms row col-12" id="content-form-ertms">
    <div class="col-md-12">
        <p class="heading lead position-ertms" id="add-ertms"></p>
        {{ form_row(form_ertms.name_configuration, {'label': 'Name ERTMS configuration'}) }}


        <p>
            <input class="btn-valid-ertms" id="valid-ertms-name" name="soumission_ertms" type="submit" value="OK"/></p>
    </div>
</div>
{{ form_end(form_ertms) }}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script></script>
{% endblock %}
