{% extends 'alstom/index.html.twig' %}
{% block body %}
    <main class="col-md-9 ml-sm-auto col-lg-12 pl-5 px-4" role="main">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Edit train</h1>
        </div>

        <div class="jumbotron content-form-client">
            {{ include ('alstom/trains/_form-train.html.twig', {form: form_train, button:'Edit'}) }}
        </div>

    </div>
</main>{% endblock %}
