.sidebar-alstom .title-sidebar {
  font-size: 1.8em;
  color: black;
  border-bottom: 1px solid darkgray;
  padding-left: 0;
  margin-left: 2vh;
  margin-bottom: 3vh;
}
.sidebar-alstom .item-sidebar-alstom {
  font-size: 1.2em;
}
.sidebar-alstom .item-sidebar-alstom a:hover {
  opacity: 0.5;
}

.navbar-smallscreen .navbar-brand:hover {
  opacity: 1;
}
.navbar-smallscreen a {
  color: white;
}
.navbar-smallscreen a:hover {
  opacity: 0.5;
}
.navbar-smallscreen .signout-burger {
  color: lightgray;
  opacity: 0.5;
}
.navbar-smallscreen .signout-burger:hover {
  color: white;
  opacity: 0.8;
}

.content-api-logs {
  display: flex;
  justify-content: space-between;
}

.table-all-clients .title-table-clients .title-nbtrains-clients, .table-all-clients .title-table-clients .title-email-clients, .table-all-clients .title-table-clients .title-countries-clients {
  text-align: center;
}
.table-all-clients .name-client-table {
  display: flex;
  align-items: center;
  border-top: 0;
  font-weight: bold;
  font-size: 1.1em;
}
.table-all-clients .nbtrains-client-table, .table-all-clients .email-client-table, .table-all-clients .countries-client-table {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.table-all-clients .content-btn-edit-delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5vh;
}
.table-all-clients .content-btn-edit-delete a {
  margin-right: 2vh;
}

.search-bar-client {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 0.8em;
  padding-top: 2em;
  margin-bottom: 2vh;
}
.search-bar-client button {
  margin: 0 !important;
}

@media (max-width: 420px) {
  .content-btn-edit-delete {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0 !important;
  }
  .content-btn-edit-delete a {
    margin-right: 0 !important;
  }
  .content-btn-edit-delete .btn-edit-client {
    margin: 0;
    margin-bottom: 1vh;
    font-size: 0.8em;
  }
  .content-btn-edit-delete .btn-delete-client {
    margin: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 0.8em;
  }
}
.table-all-engineers .title-table-engineers .title-nbBadge-engineer {
  text-align: center;
}
.table-all-engineers .title-table-engineers .title-surname-engineer {
  text-align: center;
}
.table-all-engineers .title-table-engineers .title-numbadge-clients {
  text-align: right;
  padding-right: 0;
  margin-right: 0 !important;
}
.table-all-engineers .name-engineer-table {
  display: flex;
  align-items: center;
  border-top: 0;
  font-weight: bold;
  font-size: 1.1em;
}
.table-all-engineers .surname-engineer-table {
  border-left: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}
.table-all-engineers .number-badge-engineer {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}
.table-all-engineers .content-btn-edit-delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5vh;
}
.table-all-engineers .content-btn-edit-delete a {
  margin-right: 2vh;
}

.search-bar-engineer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 0.8em;
  padding-top: 2em;
  margin-bottom: 2vh;
}
.search-bar-engineer button {
  margin: 0 !important;
}

@media (max-width: 420px) {
  .content-btn-edit-delete {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0 !important;
  }
  .content-btn-edit-delete a {
    margin-right: 0 !important;
  }
  .content-btn-edit-delete .btn-edit-engineer {
    margin: 0;
    margin-bottom: 1vh;
    font-size: 0.8em;
  }
  .content-btn-edit-delete .btn-delete-engineer {
    margin: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 0.8em;
  }
}
.table-all-projects .title-table-projects .title-numberTrain-projects {
  text-align: center;
}
.table-all-projects .name-project-table {
  display: flex;
  align-items: center;
  border-top: 0;
  font-weight: bold;
  font-size: 1.1em;
}
.table-all-projects .nbtrain-project-table {
  border-left: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}
.table-all-projects .content-btn-edit-delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5vh;
}
.table-all-projects .content-btn-edit-delete a {
  margin-right: 2vh;
}

@media (max-width: 420px) {
  .content-btn-edit-delete {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0 !important;
  }
  .content-btn-edit-delete a {
    margin-right: 0 !important;
  }
  .content-btn-edit-delete .btn-edit-project {
    margin: 0;
    margin-bottom: 1vh;
    font-size: 0.8em;
  }
  .content-btn-edit-delete .btn-delete-project {
    margin: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 0.8em;
  }
}
.client {
  color: red;
}

body {
  font-size: 0.875rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports (position: -webkit-sticky) or (position: sticky) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Content
 */
[role=main] {
  padding-top: 20px;
  /* Space for fixed navbar */
}

@media (max-width: 767px) {
  .navbar-fullscreen {
    display: none;
  }
}
@media (min-width: 768px) {
  [role=main] {
    padding-top: 48px;
    /* Space for fixed navbar */
  }

  .navbar-smallscreen {
    display: none;
  }
}
/*
 * Navbar
 */
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*# sourceMappingURL=app.css.map */
