{% extends 'alstom/index.html.twig' %}

{% block body %}
    <main class=" main-fleet container-fluid" role="main" style="height:100vh">
        <h1 class="title_fleet_management">Fleet Management</h1>
        <div class="content-post-module-fleet " style="background-color:transparent">

            <div
                class="post-module-fleet col-md-2 col-sm-9 col-xs-9 ">
                <!-- Thumbnail-->
                <div class="thumbnail-fleet">
                    <img src="/build/img/fleet-fleet.png"/>
                </div>
                <a
                    href="{{path('alstom.projects')}}">
                    <!-- Post Content-->
                    <div class="post-content-fleet">
                        <h1 class="title-fleet">Fleet</h1>
                        <h2 class="sub_title-fleet">Lorem ipsum</h2>
                        <p class="description-fleet">Lorem ipsum lorem ipsum</p>
                    </div>

                </a>
            </div>
            <div
                class="post-module-fleet col-md-2 col-sm-9 col-xs-9 ">
                <!-- Thumbnail-->
                <div class="thumbnail-fleet">
                    <img src="/build/img/fleet-train.png"/>
                </div>
                <a
                    href="{{path('alstom.trains')}}">
                    <!-- Post Content-->
                    <div class="post-content-fleet">
                        <h1 class="title-fleet">Trains</h1>
                        <h2 class="sub_title-fleet">Lorem ipsum</h2>
                        <p class="description-fleet">Lorem ipsum lorem ipsum</p>
                    </div>

                </a>
            </div>

            <div
                class="post-module-fleet col-md-2 col-sm-9 col-xs-9 ">
                <!-- Thumbnail-->
                <div class="thumbnail-fleet">
                    <img src="/build/img/fleet-baseline.png"/>
                </div>
                <a
                    href="{{path('alstom.baseline')}}">
                    <!-- Post Content-->
                    <div class="post-content-fleet">
                        <h1 class="title-fleet">Baseline</h1>
                        <h2 class="sub_title-fleet">Lorem ipsum</h2>
                        <p class="description-fleet">Lorem ipsum lorem ipsum</p>
                    </div>
                </a>
            </div>
            <div
                class="post-module-fleet col-md-2 col-sm-9 col-xs-9 ">
                <!-- Thumbnail-->
                <div class="thumbnail-fleet">
                    <img src="/build/img/fleet-maintenance.png"/>
                </div>
                <a
                    href="{{path('alstom.ertms')}}">
                    <!-- Post Content-->
                    <div class="post-content-fleet">
                        <h1 class="title-fleet">Maintenance</h1>
                        <h2 class="sub_title-fleet">Lorem ipsum</h2>
                        <p class="description-fleet">Lorem ipsum lorem ipsum</p>
                    </div>

                </a>
            </div>


        </div>


    </main>
{% endblock %}
