{% extends 'alstom/dashboard.html.twig' %}
{% block body %}

    <main class="" role="main">


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Create fleet</h1>
        </div>
        <div class="jumbotron content-form-engineer">
            {{ form_start(form) }}
            {{ form_row(form) }}
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(form) }}

        </div>
    </main>
{% endblock %}
