.main-baseline-train {
    background: rgb(243, 243, 243);
    height: auto;
    padding: 20px;

}

#modal-form-plug {
    .modal-dialog {

        max-width: 700px;
    }
}

.card-card {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    color: rgb(32, 32, 73);
    border: 1px solid rgb(219, 219, 219);
    background: white;

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        .title-li {
            font-weight: bold;
            padding-right: 10px;
        }

        li {
            display: flex;
        }
    }

    .card_title {
        border-top-right-radius: 10px 10px;
        border-top-left-radius: 10px 10px;
        padding-left: 5px;
        // background: rgb(218, 218, 218);
        text-align: left;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.8em;
        height: 40px;
        color: black;
    }

    .description-card {
        margin-top: 5px;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
    }

    &:hover {
        height: auto;
    }

    .edit-card {
        margin-top: -5px;
        position: relative;
    }
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


.content-equipments-plug {

    .content-form-plug-version {
        height: 80vh;

        .content-version-ERTMS {
            height: 20%;
            background: white;
            padding: 10px;
            margin: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .content-date-update {
                width: 80%;
                display: flex;
                justify-content: space-between;

                h3 {
                    padding-right: 10px;
                    font-weight: 300;
                }

                h5 {}
            }
        }

        .content-form-plug {
            height: 80%;
            background: white;
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            margin: 10px;
            padding: 10px;

            h3 {
                margin-top: 10px 0;
                align-self: center;
                font-size: 3em;
            }


            .file-plug {
                margin-top: 20px;
            }

        }

    }
}

.content-key-name-plug {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: rgb(245, 245, 245);
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;

    p {
        margin: 0;
    }

    i {
        color: red;

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
            transition: all 0.3s;
        }
    }
}

.td-plug {
    color: gray;

    &:hover {
        cursor: pointer;
        color: red;
        transform: scale(1.3);

        transition: all 0.3s;
    }
}

.card-content {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(236, 236, 236);
    position: relative;


}

#add-form-plug {
    margin-top: 10px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-name-drag-plug {
    margin-top: 20px;
}

#valid-all-plug {
    margin-top: 10px;
}

.btn-shadow {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
    box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.4),
        0 0.0625rem 0.125rem rgba(58, 196, 125, 0.5);

    &:hover {
        background-color: #34ad6f;
        border-color: #34ad6f;
    }
}

.btn-shadow-danger {
    color: #fff;
    background-color: rgb(241, 62, 62);
    border-color: rgb(241, 62, 62);
    box-shadow: 0 0.125rem 0.625rem rgba(241, 62, 62, 0.5) 0 0.0625rem 0.125rem rgba(241, 62, 62, 0.5);
}

.content-form-baseline {
    padding: 2rem;
}

.grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
}

a:hover {
    text-decoration: none;
}

.module {
    /* Demo-Specific Styles */
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
    font-size: 3em;
    font-weight: bold;
    color: darkgray;

    i {
        padding-left: 10px;
        padding-bottom: 14px;
    }

    &:hover {
        p {
            transform: scale(1.3);
            color: rgb(128, 128, 128);
            transition: all 0.3s;
        }

        i {
            color: rgb(128, 128, 128);
            transition: all 0.3s;
        }


    }


}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
    .module {
        margin: 0;
    }
}

.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: darkgray;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid rgb(139, 139, 139);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: rgb(139, 139, 139);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed darkgray;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: lightgray;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: black;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}