.table-show-client{
    td{
      display: flex;
      align-items: center;
    }
    .title-show-client{
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 2px;

    }
    .item-show-client{
      font-size: 1.2em;
    }
    .flag-country-client{
      margin-left: 2vh;
    }
}
.content-project-client{
    display: flex;
    p{

      margin: 2vh;
      padding-right: 2vh;
      text-transform: uppercase;
    }
}
//Vue du profile client
//

.content-input{

  label{
    font-size: 1.6em;
  }
}


.content-btn-picture{
  display: flex;
  flex-direction: column;
.btn-file {
  position: relative;
  overflow: hidden;
}
}

@media (max-width: 400px ) {
  .content-picture-name{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .picture-client{
      button{
        margin-top: 3vh;
      }
    }
  }
}
.background-panel-client{
  background-image: linear-gradient(135deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.04) 50%), url("/build/img/clients/client-background.svg");
  //filter: contrast(1.5);
  /* Background image is centered vertically and horizontally at all times */
  background-position:center;
  //background-attachment: fixed;
  background-color: #464646;
  background-size: cover;
  background-repeat: no-repeat;
}




