$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.content-allEquipement {
    // overflow: scroll;
    max-height: 100vh;
}

.description {
    // border: 0.5px solid $color_grey;
    border-radius: 2px;
    padding: 0.2rem;
    background: $color_white;
    position: relative;
    margin-top: 2vh;
    z-index: 1;

    h4,
    h5 {
        font-family: Poppins, sans-serif;
    }

    h4 {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
    }

    h5 {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color_grey_dark;
        margin-top: 5px;
    }

    .content-description-dtr {
        display: flex;
        justify-content: space-between;

        p {
            margin: 0;

        }
    }

    .content-description-dtr-instance {
        display: flex;
        justify-content: space-between;

        p {
            margin: 0;

        }
    }

}

.card-equipment {
    position: relative;
}

.edit-baseline-instance {
    display: flex;
    justify-content: flex-end;

    i:nth-child(1) {
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    i:nth-child(0) {
        display: inline-block;
        color: red;

        &:hover {
            cursor: pointer;
        }
    }
}

.edit-delete-equipement-baseline {
    display: flex;
    justify-content: flex-end;

    i:nth-child(1) {
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }

    i:nth-child(0) {
        display: inline-block;
        color: red;

        &:hover {
            cursor: pointer;
        }
    }
}

.edit-delete-equipement {
    text-align: right;
    position: absolute;
    top: 7px;
    right: 7px;

    i:nth-child(1) {
        color: $color_grey_dark;
        display: inline-block;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.5);
            cursor: pointer;
        }
    }

    .poubelle {
        color: #c82233 !important;
        transition: all 0.3s;
        display: inline-block;


        &:hover {
            transform: scale(1.5);
            cursor: pointer;
        }

    }
}

.description-SubtypeCard {

    h5 {
        &::before {
            content: " - ";
        }

        // font-weight: bold;
        color: rgb(0, 42, 121);
        margin-bottom: 0;
        margin-left: 10px;

    }

    h6 {
        margin-left: 10px;
        font-weight: bold;
        color: $color_grey;
        margin-bottom: 0;
    }

    .content-description-dtrCard {
        margin-left: 10px;
    }
}

.previous-equipment {
    margin-left: 5vh;
}

#modal-content-form-equipement-edit {
    height: auto;
    width: 55vw;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background: white;
    margin-top: 10vh;
}

.wait-spinner {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    z-index: 99999999;
}