{% extends 'base.html.twig' %}

{% block body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <img src={{ asset('../build/img/logo-alstom.svg') }} alt="Logo alstom">
                <h2>403 - Access denied</h2>
            </div>
            <a href="/">Go TO Homepage</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

