{% extends 'alstom/index.html.twig' %}
{% block body %}
    <main class="col-md-10 offset-1 col-lg-10" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Add engineer</h1>
        </div>
        <div class="jumbotron content-form-engineer">
            {{ include ('alstom/engineers/_form-engineer.html.twig', {form: form, button:'Create'}) }}
        </div>

    </div>
</main>{% endblock %}{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script>
    $('select').select2();
    $(document).ready(function () {

        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                    console.log(e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>{% endblock %}
