{% extends 'alstom/index.html.twig' %}

{% block body %}
    <main class="col-md-12 col-lg-12 pl-5 px-4" role="main">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>
                <i class="fa fa-angle-right"></i>
                Baseline</h2>
            <a href="{{ path('alstom.create-baseline') }}">
                <button class="btn btn-primary">New</button>
            </a>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <section class="" id="unseen ">
            <table class="table table-condensed table-content card-body table-full-width ">
                <thead class="title-table">
                    <th class="">Name baseline</th>
                    <th class="th-empty" scope="col"></th>
                </thead>
                <tbody>
                    {% for baseline in baselines %}
                        {% if baseline.Original == true %}

                            <tr class="td-table">
                                <td>
                                    <a href="{{path('alstom.show-baseline',{'id':baseline.id})}}">
                                        {{ baseline.name }}

                                    </a>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
{% block javascripts %}

    <script></script>
{% endblock %}
