.table-show-client{
    td{
      display: flex;
      align-items: center;
    }
    .title-show-client{
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 2px;

    }
    .item-show-client{
      font-size: 1.2em;
    }
    .flag-country-client{
      margin-left: 2vh;
    }
}
.content-project-client{
    display: flex;
    p{

      margin: 2vh;
      padding-right: 2vh;
      text-transform: uppercase;
    }
}
//Vue du profile client
//

.content-input{

  label{
    font-size: 1.6em;
  }
}
.content-picture-name{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .picture-client{
    img{
      width: 12em;
      height: 12em;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
      margin-top: 1vh;
    }
  }
}

.content-btn-picture{
  display: flex;
  flex-direction: column;
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  border: 1px solid red !important;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
}

@media (max-width: 400px ) {
  .content-picture-name{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .picture-client{
      button{
        margin-top: 3vh;
      }
    }
  }
}




