
.table-show-engineer{
  td{
    display: flex;
    align-items: center;
  }
  .title-show-engineer{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 2px;

  }
  .item-show-engineer{
    font-size: 1.2em;
  }
}
.content-project-engineer{
  display: flex;
  p{

    margin: 2vh;
    padding-right: 2vh;
    text-transform: uppercase;
  }
}
