
.table-show-engineer{
  td{
    display: flex;
    align-items: center;
  }
  .title-show-engineer{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 2px;

  }
  .item-show-engineer{
    font-size: 1.2em;
  }
}
.content-project-engineer{
  display: flex;
  p{

    margin: 2vh;
    padding-right: 2vh;
    text-transform: uppercase;
  }
}

.background-panel-engin{
  background-image: linear-gradient(135deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.04) 50%), url("public/build/img/engineers/engin-background.svg");
  //filter: contrast(1.5);
  /* Background image is centered vertically and horizontally at all times */
  background-position:center;
  //background-attachment: fixed;
  background-color: #464646;
  background-size: cover;
  background-repeat: no-repeat;
}

