.content-form-engineer{

}
.table-all-engineers{

  .title-table-engineers{

    .title-nbBadge-engineer{
      text-align: center;
    }
    .title-surname-engineer{
      text-align: center;
    }
    .title-numbadge-clients{
      text-align: right;
      padding-right: 0;
      margin-right: 0 !important;
    }
  }
  .name-engineer-table{
    display: flex;
    align-items: center;
    border-top: 0;
    font-weight: bold;
    font-size: 1.1em;
  }
  .surname-engineer-table{
    border-left: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
  }
  .number-badge-engineer{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
  }
  .content-btn-edit-delete{
    a{
      margin-right: 2vh;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vh;
  }
}
