
.navbar-smallscreen{
  .navbar-nav{
    width: 100vh;
  }
  .navbar-brand{
    &:hover{
      opacity: 1;
    }
  }
  a{
    color: white;

    &:hover{

      opacity: 0.5;
    }
  }
  .signout-burger{
    color:lightgray;
    opacity: 0.5;
    &:hover{
      color: white;
      opacity: 0.8;
    }
  }
}
.content-api-logs{
  display: flex;
  justify-content: space-between;
  .content-api-grafana{
    background: gray;
    height: 100vh;
    background-image: url("/build/img/dashboard.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .content-btn-logs{

    .btn-add-logs{
      height: 100vh;
      width: 100%;
      p{
        color: white;
        font-size: 2em;
        font-family: 'Lato', sans-serif;
      }
    }

  }
  @media (max-width: 750px) {
    .content-btn-logs{
      display: none;
    }
  }
}
