
.navbar-smallscreen{
  .navbar-nav{
    width: 100vh;
  }
  .navbar-brand{
    &:hover{
      opacity: 1;
    }
  }
  a{
    color: white;

    &:hover{

      opacity: 0.5;
    }
  }
  .signout-burger{
    color:lightgray;
    opacity: 0.5;
    &:hover{
      color: white;
      opacity: 0.8;
    }
  }
}
.content-api-logs{
  display: flex;
  justify-content: space-between;
}
