.content-form-project{

}
.table-all-projects{

  .title-table-projects{

    .title-numberTrain-projects{
      text-align: center;
    }

  }
  .name-project-table{
    display: flex;
    align-items: center;
    border-top: 0;
    font-weight: bold;
    font-size: 1.1em;
    a{
      text-decoration: none;
      color: black;
    }
  }
  .nbtrain-project-table{
    border-left: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
  }
  .content-btn-edit-delete{
    a{
      margin-right: 2vh;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5vh;
  }
}

.table-show-project{
  td{
    display: flex;
    align-items: center;
  }
  .title-show-project{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 2px;

  }
  .item-show-project{
    font-size: 1.2em;
  }
}
.content-project-project{
  display: flex;
  p{

    margin: 2vh;
    padding-right: 2vh;
    text-transform: uppercase;
  }
}
@media (max-width: 420px) {
  .content-btn-edit-delete{
    a{
      margin-right: 0 !important;
    }
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0 !important;
    .btn-edit-project{
      margin: 0;
      margin-bottom: 1vh;

      //padding-right: 1vh;
      //padding-left: 1vh;
      font-size: 0.8em;
    }
    .btn-delete-project{
      margin: 0;
      padding-right: 0.5em;
      padding-left: 0.5em;
      font-size: 0.8em;
    }
  }
}

