//Vue du récapitulatif de tous les projets
//

//Vue du projet indivicduellement
//

.table-show-project{
   td{
     display: flex;
     align-items: center;
   }
   .title-show-project{
     font-size: 1.5em;
     font-weight: bold;
     margin-right: 2px;

   }
   .item-show-project{
     font-size: 1.2em;
   }
 }
.content-project-project{
  display: flex;
  p{
    margin: 2vh;
    padding-right: 2vh;
    text-transform: uppercase;
  }
}
.content-img-project{
  .img-description-project{
    width: 100vw;
    height: 20em;
    //background: url(/public/build/img/Alstom_Avelia_Liberty_tilting_very_high_speed_train_edit.jpg) no-repeat;
    margin: 0;
    overflow: hidden;
    text-align: right;
    .img-project{
      width: 100%;
    }
  }
  .content-img-project-show{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: red;
    display: none;
      z-index: 999;
    .img-project-show{

    }
  }
  .content-panel{
    margin-top: 2em;
    h2{
      margin-bottom: 1em;
    }
    .text-descrip-project{
      text-align: justify;
    }
  }

}




//Responsive du récapitulatif des projets
//
@media (max-width: 420px) {
  .content-btn-edit-delete{
    a{
      margin-right: 0 !important;
    }
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0 !important;
    .btn-edit-project{
      margin: 0;
      margin-bottom: 1vh;
      //padding-right: 1vh;
      //padding-left: 1vh;
      font-size: 0.8em;
    }
    .btn-delete-project{
      margin: 0;
      padding-right: 0.5em;
      padding-left: 0.5em;
      font-size: 0.8em;
    }
  }
}

