
.content-type-train{
  position: relative;

  .content-evc{
    position: absolute;
    z-index: 9;

    .evc{
      &:nth-child(2){

      }
      margin-top: 60px;
      width: 50px;
    }
  }
}

.content-type-train{
  .img-type-train{
    background: white;
    opacity: 0.8;

  }
    .content-evc{
      position: absolute;
      display: flex;
      justify-content: space-around;
      margin-top: -15rem;
      z-index: 9;
      .evc{
        width: 100px;
        height: 100px;
        opacity: 0.5;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.3);
          opacity: 1;
        }
      }
        .selected{
          opacity: 1;
        }
    }
  }
#btn-choice-evc{
  display: none;
}
#select_train{
  display: none
}
#select_locomotive{
  display: none
}
#select-evc-train{
  display: none;
}
#create-evc-train{
  display: none;
}
.content-btn-train{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p{
    background-color: #747474;
    color: white;
    padding: 12px;
    border-radius: 7px;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    font-size: 1rem;
    font-family: inherit;
    &:hover{
      cursor: pointer;
    }

    &:hover{
      background: rgba(128, 128, 128, 0.8);
    }
  }
}
.content-choice-evc{
  display: none;
}
